@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
}

p {
  color: #dfdfdf;
  font-size: 15px;
  line-height: 25px;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.17px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}
